<!--
  The exercise is to create the Windows Entreprise logo using HTML and CSS.
  With a purple header 50px height with our name in white.
  a orange footer 50px height.
  The logo should be in the center of the page,
  with a height of 400px and border 1px.
  The logo should be interactive, when you hover over the logo,
  the logo should change its color according of the background color.
-->
<div #pageContainer class="page-container">

  <!-- Header provenant d'un component-->
  <app-header></app-header>

  <div class="content">
    <div class="square">
      <div class="windows-logo">
        <div class="window window-1" (click)="changeBackgroundColor('blue')"></div>
        <div class="window window-2" (click)="changeBackgroundColor('green')"></div>
        <div class="window window-3" (click)="changeBackgroundColor('red')"></div>
        <div class="window window-4" (click)="changeBackgroundColor('yellow')"></div>
      </div>
    </div>
  </div>

  <!-- Footer provenant d'un component-->
  <app-footer></app-footer>
</div>
