<!--
  The exercise is to create the Windows Entreprise logo using HTML and CSS.
  With a purple header 50px height with our name in white.
  a orange footer 50px height.
  The logo should be in the center of the page,
  with a height of 400px and border 1px.
  The logo should be interactive, when you hover over the logo,
  the logo should change its color according of the background color.
-->
  <div  [ngClass]="colorBackground">
  <!-- Header provenant d'un component-->
  <app-header></app-header>

  <!-- Window provenant d'un component-->
  <app-window (changeBackgroundColorEvent)=changeBackgroundColor($event)>
  </app-window>

  <!-- Footer provenant d'un component-->
  <app-footer></app-footer>
</div>
